#
# $Id: lsusbblk.spec.tmpl 31 2022-01-13 21:01:58Z olof $
#
###############################################################################

Summary: Utility for listing attached USB block devices and script automation
Name: __NAME__
Version: __VERSION__
Release: __RELEASE__
License: GPL
Group: Utilities/System
URL: http://soderstrom.home
SOURCE0: __TAR__ 
Vendor: None
Packager: Olof Söderström <olof.soderstrom@bahnhof.se>
Requires: python3-colorama python3-pyudev python3-pyusb 
BuildRequires: python3-devel
BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}
BuildArchitectures: noarch
Prefix: /usr

%description
Utility for listing attached USB block devices and script automation. The utility
collects informaiton about the device from udev and usb subsystem to present in a
summarised form, individual values or as json string. The utility is inteded to be
used at the command line or from a script.

%prep
%setup -q -n %{name} -c %{name}

%build

%install
rm -rf $RPM_BUILD_ROOT
make install DESTDIR="$RPM_BUILD_ROOT"

%files
%defattr(-,root,root)
%doc README CHANGELOG NEWS LICENSE
%{prefix}/share/lsusbblk/lsusbblk
%{prefix}/share/lsusbblk/lib/usbblk.py
%{prefix}/share/lsusbblk/lib/confutil.py
%{prefix}/share/lsusbblk/lib/formatutil.py
%{prefix}/share/man/man1/lsusbblk.1.gz

%post
if [ ! -d /usr/share/lsusbblk ] ; then
  /bin/mkdir /usr/share/lsusbblk
fi
/bin/chmod 755 /usr/share/lsusbblk

if [ ! -e /usr/bin/lsusbblk ] ; then
  /bin/ln --symbolic /usr/share/lsusbblk/lsusbblk /usr/bin/lsusbblk
fi

%changelog
* Thu Jan 13 2022 Olof Söderström <olof.soderstrom@bahnhof.se>

- Fixed: check for existing symbolic link in bin dir.

* Sun Jan 2 2022 Olof Söderström <olof.soderstrom@bahnhof.se>

- First version of spec file.


