
Summary: Utility for listing attached USB block devices and script automation
Name: __NAME__
Version: __VERSION__
#### Release: __RELEASE__
Release: 2
License: GPL
Group: Utilities/System
URL: https://github.com/lowkey3838/lsusbblk.git
SOURCE0: __TAR__ 
Vendor: None
Packager: Lowkey <public3838@bahnhof.se>
Requires: python3-colorama python3-pyudev python3-pyusb 
BuildRequires: python3-devel
BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}
BuildArchitectures: noarch

%description
Utility for listing attached USB block devices and script automation. The utility
collects informaiton about the device from udev and usb subsystem to present in a
summarised form, individual values or as json string. The utility is inteded to be
used at the command line or from a script.

%prep
%setup -q -n %{name} -c %{name}

%build

%install
rm -rf $RPM_BUILD_ROOT
make install DESTDIR="$RPM_BUILD_ROOT"

%files
%defattr(-,root,root)
### %doc README CHANGELOG NEWS LICENSE
%doc README.md LICENSE
%{_datadir}/lsusbblk/lsusbblk
%{_datadir}/lsusbblk/lib/conf.py
%{_datadir}/lsusbblk/lib/usbblk.py
%{_datadir}/lsusbblk/lib/confutil.py
%{_datadir}/lsusbblk/lib/formatutil.py
%{_datadir}/lsusbblk/lib/output.py
%{_mandir}/man1/lsusbblk.1.gz

%post
if [ ! -d /usr/share/lsusbblk ] ; then
  /bin/mkdir /usr/share/lsusbblk
fi
/bin/chmod 755 /usr/share/lsusbblk

if [ ! -e /usr/bin/lsusbblk ] ; then
  /bin/ln --symbolic /usr/share/lsusbblk/lsusbblk /usr/bin/lsusbblk
fi

%changelog
* Sun May 5 2024 Lowkey <public3838@bahnhof.se>

- Changes to adheare to Fedora packing requirments

* Sun Jan 2 2022 Lowkey <public3838@bahnhof.se>

- First version of spec file.


